$block: 'tabs';

.#{$block} {
	margin: map-get($space, 3) auto;
	
	&__nav {
		padding:  map-get($space, default) map-get($space, default) 0 map-get($space, default);
		display: flex;
		border-bottom: 1px solid;
	}
}