$block: 'tab-content';

.#{$block} {
	display: none;
	&.active {
		display: block;
	}
}

.#{$block}-item {
	display: flex;
	align-items: center;
	padding: map-get($space, default);
	border-bottom: 1px solid;

	&__temp,
	&__summary {
		margin: 0;
	}

	&__summary {
		margin-top: map-get($space, 2);
	}

	&__temp {
		display: flex;
		align-items: center;
		font-size: map-get($font-size, md);
	}

	&__icon {
		font-size: map-get($font-size, lg);
		margin-left: map-get($space, 1);
	}

	&__time {
		margin-right: map-get($space, default);
		flex-basis: 60px;
		font-size: map-get($font-size, md);
	}
}